<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pro</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="#" />

    <style> 
      .sticky-header {
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .product-card {
          background-color: #ffffff;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          overflow: hidden;
          display: flex;
          flex-direction: column;
          width: 250px;
          height: 500px;
          transition: transform 0.5s, box-shadow 0.5s;
          margin-bottom: 20px;
      }

      .dark-mode .product-card {
          background-color: #ffffff;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          width: 250px;
          height: 500px;
          transition: transform 0.5s, box-shadow 0.5s;
          margin-bottom: 20px;
      }

      .product-card img {
        height: 200px;
        /* Hoặc chiều cao cố định bạn muốn cho hình ảnh */
        object-fit: cover;
        width: 100%;
      }

      .product-card:hover {
        transform: translateY(-5px) scale(1.01);
        box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.1);
      }

      .btn-primary,
      .btn-danger,
      .btn-success {
        height: 60px;
        width: 100%;
        border-radius: 15px;
        transition: transform 0.5s ease;
      }

      .btn-primary:hover,
      .btn-danger:hover,
      .btn-success:hover {
        transform: translateY(-3px);
      }
      .btn {
        margin-right: 20px;
      }

      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      .mt-3 {
        gap: 5px;
        border-radius: 30px;
        height: 60%;
      }

      .carousel-item img {
        max-width: 100%;
        max-height: 500px;
      }

      .user-balance {
        cursor: copy;
      }

      .price {
        margin-top: 50px;
      }

      .center-text {
        display: flex;
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
      }

      .nav-link {
            position: relative; /* Để sử dụng absolute positioning cho underline */
            display: inline-block;
            padding-bottom: 5px; /* Khoảng cách giữa text và underline */
        }

      .nav-link::after {
          content: ""; /* Nội dung rỗng để tạo thanh nhỏ */
          position: absolute;
          left: 16%;
          bottom: 0;
          width: 70%;
          height: 2px; /* Độ dày của thanh nhỏ */
          background-color: #2300ea; /* Màu của thanh nhỏ */
          transform: scaleX(0); /* Ẩn thanh nhỏ ban đầu */
          transform-origin: bottom right; /* Vị trí bắt đầu hiệu ứng */
          align-items: center;
          transition: transform 0.3s ease; /* Hiệu ứng chuyển tiếp cho thanh nhỏ */
      }

      .nav-link.home:hover::after,
      .nav-link.bxh:hover::after,
      .nav-link.giohang:hover::after,
      .nav-link.taosanpham:hover::after,
      .nav-link.login:hover::after,
      .nav-link.dangky:hover::after {
          transform: scaleX(1); /* Hiện thanh nhỏ khi hover */
          transform-origin: bottom left; /* Vị trí kết thúc hiệu ứng */
      }

      .home-icon {
          width: 30px; /* Thay đổi kích thước của hình ảnh nếu cần */
          height: 30px; /* Thay đổi kích thước của hình ảnh nếu cần */
      }
      .bxh-icon{
        width: 27px; /* Thay đổi kích thước của hình ảnh nếu cần */
        height: 27px;
      }
      .cart-icon{
        width: 23px;
        height: 23px;
      }

      .add-icon{
        width: 30px;
        height: 30px;
      }

      .the-link {
          position: relative; /* Để sử dụng absolute positioning cho underline */
          display: inline-block;
          padding-bottom: 2px;
      }

      .the-link::after {
          content: ""; /* Nội dung rỗng để tạo thanh nhỏ */
          position: absolute;
          left: 14%;
          bottom: 0;
          width: 80%;
          height: 2px; /* Độ dày của thanh nhỏ */
          background-color: #0056ea; /* Màu của thanh nhỏ */
          transform-origin: bottom right; /* Vị trí bắt đầu hiệu ứng */
          align-items: center;
          transition: transform 0.3s ease; /* Hiệu ứng chuyển tiếp cho thanh nhỏ */
      }

      /* Ẩn menu mặc định */
      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%; /* Đặt menu xuất hiện ngay dưới avatar */
        left: 0;
        z-index: 1000;
      }

      /* Hiển thị menu khi di chuột vào avatar */
      .nav-link.dropdown-toggle:hover + .dropdown-menu,
      .dropdown-menu:hover {
        display: block;
      }
      .header-design{
        position: sticky;
        background-color: #e2e2e2;
        top: 0px; 
        z-index: 1000;
      }
      .main-content {
        padding-top: 60px; /* Đảm bảo nội dung không bị che bởi header (thay đổi kích thước này nếu cần) */
      }


      /* Chế độ sáng (mặc định) */
      body {
        background-color: #F5EFFF;
        color: #000;
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      /* Chế độ tối */
      body.dark-mode {
        background-color: #1b1b1b;
        color: #f1f1f1;
      }

      .dark-mode .navbar, .dark-mode .card {
        background-color: #333333;
        color: #f1f1f1;
      }

      .dark-mode .btn-primary {
        background-color: #2897f8;
        border-color: #666;
      }


      .dark-mode a{
        color: #ffffff;
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      .mode-button{
        height: 30px;
        width: 30px;
      }

      .dark-mode .header-design  {
        background-color: #666666fd; /* Màu nền tối cho header */
        color: white;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
      .text-decoration-none{
        color: black;
      }
      .dark-mode .dropdown-menu{
        background-color: #0c0c0c;
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      .dropdown-item{
        color: rgb(0, 0, 0);
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
      .dropdown-menu{
        color: white;
        transition: background-color 0.5s ease, color 0.5s ease;
      }
      #toggle-dark-mode {
        border: none; /* Loại bỏ khung viền */
        outline: none; /* Loại bỏ viền khi nhấn vào nút */
        background: none; /* Loại bỏ màu nền mặc định */
        cursor: pointer; /* Thay đổi con trỏ khi di chuột qua nút */
      }


    </style>
  </head>

  <body>
    <header class="header-design" >
      <div class="container-fluid py-3" >
        <div class="container d-flex justify-content-between align-items-center" style="margin-left: 476px;">
          <h1 class="h4 mb-0">
            <a href="/" class="text-decoration-none" style="margin-left: -197px;"><strong>E-Shop</strong></a>
          </h1>
          <nav class="nav">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link home" href="/">
                    <img src="/img/home.png" alt="" class="home-icon"></img>
                </a>
            </li>
              <li class="nav-item">
                <a class="nav-link bxh" href="/scoreboard">
                  <img src="/img/bxh.jpg" alt="" class="bxh-icon">
                </a>
              </li>
              <% if (!user) { %>
              <li class="nav-item">
                <a class="nav-link login" href="/login">Đăng nhập</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dangky" href="/register">Đăng ký</a>
              </li>
              <button id="toggle-dark-mode" style="margin-left: 150px;">
                <img src="img/mode.png" alt="" class="mode-button"></img>
              </button>
              <% } else { %>
              <li class="nav-item">
                <a class="nav-link giohang" href="/cart">
                    <img src="/img/cart.jpg" alt="" class="cart-icon">                  
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link taosanpham" href="/product/add">
                  <img src="/img/add.jpg" alt="" class="add-icon">
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" id="userDropdown" role="button">
                  <% if (user.avatar) { %>
                  <img src="/<%= user.avatar %>" class="avatar me-2" alt="" />
                  <% } else { %>
                  <img src="./img/def.jpg" class="avatar me-2" alt="" />
                  <% } %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                  <li>
                    <a class="dropdown-item" href="/user/<%= user.id %>">Profile</a>
                  </li>
                  <li><a class="dropdown-item" href="/settings">Cài đặt</a></li>
                  <li><a class="dropdown-item">Balanced: <%= user.balance %> VNĐ</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                </ul>
              </li>
              <button id="toggle-dark-mode" style="margin-left: 150px;">
                <img src="img/mode.png" alt="" class="mode-button"></img>
              </button>
              <% } %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="container my-5">
        <div id="carouselExampleControls" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/scoreboard"
                ><img
                  class="d-block w-100"
                  src="/uploads/aL4RptWAMs.png"
                  alt="First slide"
              /></a>
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="/uploads/1721373600326_def.jpg"
                alt="Second slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="/uploads/1721373497780_Tuan Anh.jpg"
                alt="Third slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="/uploads/1721358772822_TrungKienSleep.jpg"
                alt="Fourth slide"
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
        <div class="row mt-5">
          <div class="col">
            <h2 class="section-title text-center">Sản phẩm nổi bật</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="card mb-3">
                  <img src="" class="card-img-top" alt="Sản phẩm" />
                  <div class="card-body">
                    <h3 class="card-title">Tên sản phẩm</h3>
                    <p class="card-text">Mô tả ngắn về sản phẩm.</p>
                    <p class="card-text">Giá: 1,000,000 VND</p>
                    <a href="/hotproduct" class="btn btn-primary center-text" >Danh sách</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card mb-3">
                  <img src="" class="card-img-top" alt="Khuyến mãi" />
                  <div class="card-body">
                    <h3 class="card-title">Tên chương trình khuyến mãi</h3>
                    <p class="card-text">Chi tiết chương trình khuyến mãi.</p>
                    <p class="card-text">Giảm giá: 20%</p>
                    <a href="/salelist" class="btn btn-danger center-text">Xem chi tiết</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col">
            <h2 class="section-title text-center">Danh mục sản phẩm</h2>
            <div class="row row-cols-1 row-cols-md-5 g-4">
              <% products.forEach(product=> { %>
              <div class="col">
                <div class="card product-card">
                  <a href="/product/<%= product.id %>">
                    <img
                      src="/uploads/<%= product.image %>"
                      class="card-img-top"
                      alt=""
                    />
                  </a>
                  <div class="card-body">
                    <h4 class="card-title"><center><%= product.name %></center></h4>
                    <% if (product.sale) { %>
                      <center><span class="badge bg-danger ms-2" style="margin-bottom: 10px;" >-<%= product.saleval %>%</span></center>
                      <p class="card-text" style="margin-bottom:4px ;">
                        Giá:<del> <%= product.price %> </del>
                        <%= (product.price - (product.price * product.saleval /
                        100)).toFixed(2)%> VNĐ
                      </p>
                      <div style="padding-left: 1px; padding-bottom: 10px">
                        <div class ="creator-day" style ="margin-top: -0px;">
                            <p class="card-text" style="margin-bottom: 3px">
                              Creator: <%= product.creator %>
                            </p>
                            <p class="card-text" style="margin-top: 3px">
                              Ngày tạo: <%= product.formatted_date %>
                            </p>
                        </div>
                      <div class="d-flex mt-3">
                        <a
                          href="/product/<%= product.id %>"
                          class="btn btn-success rounded">
                          <div>
                            Thông tin
                          </div>
                          <div>
                            sản phẩm
                          </div>
                        </a>
                        <a style="margin-left: -20px;">
                          <button
                          type="button"
                          class="btn btn-primary rounded addToCartBtn"
                          data-product-id="<%= product.id %>"
                          >
                            Thêm vào giỏ
                          </button>
                        </a>
                      </div>
                    <% } else { %>
                      <div style="margin-top: 40px;">
                          <p class="card-text">Giá: <%= product.price %> VNĐ</p>
                      </div>
                      <div style="padding-left: -10px; padding-bottom: 10px">
                        <div class ="creator-day" style ="margin-top:1px;">
                            <p class="card-text" style="margin-bottom: -2px">
                              Creator: <%= product.creator %>
                            </p>
                            <p class="card-text" style="margin-top: 3px">
                              Ngày tạo: <%= product.formatted_date %>
                            </p>
                        </div>
                        <div class="d-flex mt-3">
                          <a
                          href="/product/<%= product.id %>"
                          class="btn btn-success rounded">
                            <div>
                              Thông tin
                            </div>
                            <div>
                              sản phẩm
                            </div>
                          </a>
                          <a style="margin-left: -20px;">
                            <button
                            type="button"
                            class="btn btn-primary rounded addToCartBtn"
                            data-product-id="<%= product.id %>"
                            >
                              Thêm vào giỏ
                            </button>
                          </a>
                      </div>
                    <% } %>
                  </div>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-light py-4 mt-5">
        <div class="container">
          <div class="text-center text-muted">&copy; 2024 E-Shop</div>
          <div class="text-center mt-3">
            <a href="#" class="text-decoration-none text-dark mx-2"
              >Chính sách bảo mật</a
            >
            <a href="#" class="text-decoration-none text-dark mx-2"
              >Điều khoản sử dụng</a
            >
          </div>
        </div>
      </footer>
    </main>

    

    <div
      class="modal fade"
      id="addToCartModal"
      tabindex="-1"
      aria-labelledby="addToCartModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addToCartModalLabel">
              Xác nhận thêm vào giỏ hàng
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Bạn có chắc chắn muốn thêm sản phẩm này vào giỏ hàng?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary confirmAddToCartBtn">
              Thêm vào giỏ
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
    <script>
      window.onload = function () {
        const img = document.querySelector('body');
        const colorThief = new ColorThief();
        const imgElement = new Image();
        imgElement.src = img.style.backgroundImage.replace(/url\(['"]?(.*?)['"]?\)/i, "$1");
        
        imgElement.onload = function() {
          const dominantColor = colorThief.getColor(imgElement);
          document.querySelector('header').style.backgroundColor = `rgb(${dominantColor})`;
        };
      };
    </script>
    <script>
      const toggleButton = document.getElementById('toggle-dark-mode');
      const body = document.body;
    
      // Kiểm tra nếu chế độ tối đã được kích hoạt trước đó
      if (localStorage.getItem('darkMode') === 'enabled') {
        body.classList.add('dark-mode');
      }
    
      toggleButton.addEventListener('click', () => {
        body.classList.toggle('dark-mode');
        if (body.classList.contains('dark-mode')) {
          localStorage.setItem('darkMode', 'enabled');

        } else {
          localStorage.setItem('darkMode', 'disabled');
        }
      });
    </script>
        
    <script>
      // Thêm sự kiện click cho các nút "Thêm vào giỏ"
      $(document).on('click', '.addToCartBtn', function() {
        const productId = $(this).data('product-id');
        $('#addToCartModal').data('product-id', productId).modal('show');
    });


    $('.confirmAddToCartBtn').on('click', function() {
        const productId = $('#addToCartModal').data('product-id');
        // Gọi hàm thêm vào giỏ hàng (có thể là AJAX để gửi request đến server)
        $.ajax({
            type: 'POST',
            url: '/auth/add-to-cart',
            data: { productId: productId },
            success: function(response) {
                // Xử lý thành công
                alert('Sản phẩm đã được thêm vào giỏ hàng!');
                $('#addToCartModal').modal('hide');
            },
            error: function() {
                // Xử lý lỗi
                alert('Đã có lỗi xảy ra, vui lòng thử lại!');
            }
        });
    });

    </script>
    
  </body>
</html>
