  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
      />
      <title>Hot Products List</title>
      <link rel="stylesheet" href="css/scoreboard.css">
    </head>

    <body>
      <header class="header-design">
        <div class="container-fluid py-3 d-flex justify-content-between align-items-center">
          <div class="row w-100 d-flex justify-content-between align-items-center">
            <div class="col-md-4 col-6">
              <h1 class="h4 mb-0">
                <a href="/" class="text-decoration-none" style=" font-size: 40px;"><strong>E-Shop</strong></a>
              </h1>
            </div>
            <div class="col-md-4 col-12 d-none d-md-flex justify-content-center">
              <form class="d-flex search w-100" action="/search" method="GET" onsubmit="validateForm(event)">
                <div class="search-input-wrapper position-relative" id="searchContainer">
                  <input
                    class="form-control search-input"
                    type="search"
                    placeholder="Tìm kiếm sản phẩm..."
                    aria-label="Search"
                    name="query"
                    style="padding-right: 40px;"
                  />
                  <!-- Nút search icon nằm trong input -->
                  <button class="search-button position-absolute" type="submit" style="right: 10px; top: 50%; transform: translateY(-50%); border: none; background-color: transparent;">
                    <img src="img/search.png" alt="search icon" style="height: 30px; width: 30px;">
                  </button>
                  <!-- Nút cancel để ẩn thanh search -->
                  <i class="fas fa-times cancel-btn position-absolute" id="cancelIcon" style="top: 50%; transform: translateY(-50%); ">
                    <img src="img/x.png" alt="" style="height: 30px;width: 30px;">
                  </i>
                </div>
              </form>
              
            </div>
            <div class="col-md-4 col-6">
              <nav class="nav justify-content-end">
                <ul class="nav d-flex align-items-center" style="gap: 10px; flex-wrap: nowrap;">
                  <li class="nav-item me-1">
                    <a class="nav-link home" href="/">
                      <img src="/img/home.png" alt="home icon" class="home-icon" style="width: 25px; height: 25px;">
                    </a>
                  </li>
                  <li class="nav-item me-1">
                    <a class="nav-link bxh" href="/scoreboard">
                      <img src="/img/bxh.jpg" alt="scoreboard icon" class="bxh-icon" style="width: 25px; height: 25px;">
                    </a>
                  </li>
                  <% if (!user) { %>
                  <li class="nav-item me-1">
                    <a class="nav-link login" href="/login">Đăng nhập</a>
                  </li>
                  <li class="nav-item me-1">
                    <a class="nav-link dangky" href="/register">Đăng ký</a>
                  </li>
                  <% } else { %>
                  <li class="nav-item me-1">
                    <a class="nav-link giohang" href="/cart">
                      <img src="/img/cart.jpg" alt="cart icon" class="cart-icon" style="width: 25px; height: 25px;">
                    </a>
                  </li>
                  <li class="nav-item me-1">
                    <a class="nav-link taosanpham" href="/product/add">
                      <img src="/img/add.jpg" alt="add product icon" class="add-icon" style="width: 25px; height: 25px;">
                    </a>
                  </li>
                  <li class="nav-item dropdown" style="width: auto;">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" id="userDropdown" role="button">
                      <% if (user.avatar) { %>
                      <img src="/<%= user.avatar %>" class="avatar me-1" alt="user avatar" style="width: 30px; height: 30px;" />
                      <% } else { %>
                      <img src="./img/def.jpg" class="avatar me-1" alt="default avatar" style="width: 30px; height: 30px;" />
                      <% } %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                      <li>
                        <a class="dropdown-item" href="/user/<%= user.id %>">Profile</a>
                      </li>
                      <li><a class="dropdown-item" href="/settings">Cài đặt</a></li>
                      <li><a class="dropdown-item">Balanced: <%= user.balance %> VNĐ</a></li>
                      <li><hr class="dropdown-divider" /></li>
                      <li class="nav-item">
                        <div class="d-flex align-items-center px-3 py-2">
                          <label class="change-mode" for="toggle-dark-mode" id="mode-label">Chế Độ Sáng</label>
                          <label class="switch">
                            <input type="checkbox" id="toggle-dark-mode">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </li>
                      <li><hr class="dropdown-divider" /></li>
                      <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                  </li>
                  <% if (user.id == 'rgB6QoFkYk') { %>
                  <li class="nav-item me-1">
                    <a class="nav-link taosanpham" href="/api/users">
                      <img src="/img/add.jpg" alt="admin icon" class="add-icon" style="width: 25px; height: 25px;">
                    </a>
                  </li>
                  <% } %>
                  <% } %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <center>
      <h1 class="center-title top">LIST TOP PRODUCT</h1>
      </center>
      <div class="top-list mt-4" >
        <div class="row" style="width: 1000px; height: 120%;">
          <% products.forEach((product, index) => { %>
          <div class="col-md-4">
            <div class="card product-card">
              <% if (index === 0) { %> 
                <img src="/img/top 1.png" alt="" class="medal-overlay" style="height: 100px; width: 60px;">
                <% } %>
              <% if (index === 1) { %> 
                <img src="/img/top 2.png" alt="" class="medal-overlay" style="height: 100px; width: 60px;">
                <% } %>
              <% if (index === 2) { %> 
                <img src="/img/top 3.png" alt="" class="medal-overlay" style="height: 100px; width: 60px;">
                <% } else { %>
                <li class="num" style="height: 100px; width: 60px;">
                  <a><p><%= index + 1 %></p></a>
                </li>
              <% } %>
              <a href="/product/<%= product.id %>">
                <img 
                    src="<%= product.image ? ('uploads/' + product.image) : '/img/cart-def.png' %>" 
                    class="card-img-top" 
                    alt="" 
                    onerror="this.onerror=null; this.src='/img/cart-def.png';"
                />
            </a>
              <div class="card-body">
                <h4 class="card-title"><%= product.name %></h4>
                <% if (product.sale) { %>
                    <span class="badge bg-danger ms-2" style="margin-bottom: 10px;">-<%= product.saleval %>%</span>
                  <p class="card-text" style="margin-bottom: 4px;">
                    Giá: <%= formatCurrency((product.price - (product.price * product.saleval / 100)).toFixed(0)) %> VNĐ
                    <del> <%= formatCurrency(product.price) %> VNĐ</del>
                  </p>
                <% } else { %>
                  <div style="margin-top: 40px;">
                    <p class="card-text">Giá: <%= formatCurrency(product.price) %> VNĐ</p>
                  </div>
                <% } %>                
                <p class="card-text">Ngày tạo: <%= product.formatted_date %></p>
                <p class="card-text">Creator: <%= product.creator %></p>
                <div class="d-flex">
                  <a href="/product/<%= product.id %>" class="btn btn-success me-2" style="width: 300px; margin-left: 10px;">
                    Thông tin <br> sản phẩm
                  </a>
                  <button
                    type="button"
                    class="btn btn-primary rounded addToCartBtn"
                    data-product-id="<%= product.id %>"
                    >
                      Thêm vào giỏ
                  </button>
                </div>
              </div>
              <span
                class="badge bg-primary rounded-pill"
                style="position: absolute; top: 10px; right: 10px"
                ><%= product.sold %></span
              >
            </div>
          </div>
          <% }); %>
        </div>
      </div> 
    </body>
    <script src="darkmode.js"></script>
    <script src="chat.js"></script>
    <script src="search.js"></script>
    <script src="add-cart.js"></script>
  </html>